/* Tailwind v4 */
@import "tailwindcss";

/* Sua paleta (light/dark) */
@import "../styles/colors.css";

/* Globais mínimos */
html, body {
  min-height: 100%;
  background: var(--color-background);
  color: var(--color-text);
}
